.menu-bar {
  color: #939797;
}
.menu-bar ul {
  list-style: none;
  display: flex;
  padding-left: 0 !important;
}

.menu-bar ul li {
  position: relative;
}

.menu-bar ul li a {
  font-size: 18px;
  text-decoration: none;
  padding-left: 1rem;
  transition: all 0.5s;
}

.fas {
  float: right;
  /* margin-left: 10px; */
  margin-right: 10px;
  padding-top: 3px;
}

/* dropdown menu style */

.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
}

.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
  /* margin: 10px; */
}

.menu-bar ul li:hover .dropdown-menu ul li {
  width: 230px;
  padding: 3px;
}

.dropdown-menu-1 {
  padding: 0;
  display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-1 {
  display: block;
  position: absolute;
  padding: 3px;
  left: 230px;
  top: 0;
  background-color: #fff;
  border-radius: 8px;
}
